#{extends 'main-administradores.html' /} #{set title:'SGE - Secretárias'
/}
<meta charset="utf-8" />

<!-- Sucesso -->
#{if flash.success}
<div class="col-md-6">
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<i class="material-icons">close</i>
		</button>
		<span>${flash.success.raw()} </span>
	</div>
</div>

#{/if}

<!-- Mensagem de erro -->

#{if flash.error}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<i class="material-icons">close</i>
	</button>
	<span> <b></b>${flash.error.raw()}
	</span>
</div>
#{/if}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title ">Secretários</h4>
						<p class="card-category"></p>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="display" id="example">
								<thead class=" text-primary">
									<th>Foto</th>
									<th>Nome</th>
									<th>Matricula</th>
									<th>Ações</th>
								</thead>
								#{list items: secretarias, as:'secretaria'}
								<tbody>
									<tr>
										<td><img class="icone-default" src="@{Secretarias.fotoSecretaria(secretaria.id)}"></td>
										<td>${secretaria.nome}</td>
										<td>${secretaria.matricula}</td>
										<td>
											<a href="@{Secretarias.editarSecretaria(secretaria.id)}"><i class="material-icons">edit</i></a>
											<a href="@{Secretarias.removerSecretaria(secretaria.id)}"><i class="material-icons">delete_sweep</i></a>
										</td>
									</tr>
								</tbody>
								#{/list}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>