#{extends 'main-secretaria.html' /}
#{set title:'SGE - Adicionar Turma' /}
<meta charset="utf-8" />

<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Adicionar uma nova turma</h4>
			</div>
			<div class="card-body">
				<div id="typography">
					<div class="row">
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<form name="form1" action="@{Turmas.salvarTurma}" method="post">
													<div class="row">
														<div class="col-md-2">
															<div class="form-group">
																<input type="hidden" value="${turma?.id}"  name="turma.id">
																 <label
																	class="bmd-label-floating">Ano escolar</label> <input
																	type="text" name="turma.anoEscolar" value="${turma == null ? flash['turma.anoEscolar'] : turma.anoEscolar}" class="form-control #{ifError 'turma.anoEscolar'} is-invalid#{/ifError}">
																	#{ifError 'turma.anoEscolar'}
													        	   <div class="invalid-feedback">#{error 'turma.anoEscolar' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Nome da turma</label> <input
																	type="text" name="turma.nomeTurma" value="${turma == null ? flash['turma.nomeTurma'] : turma.nomeTurma}" class="form-control #{ifError 'turma.nomeTurma'} is-invalid#{/ifError}">
																#{ifError 'turma.nomeTurma'}
													        	   <div class="invalid-feedback">#{error 'turma.nomeTurma' /}</div>  	   		 
													        	   #{/ifError}
															
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Número da Sala</label> <input
																	type="text" name="turma.numeroSala" value="${turma == null ? flash['turma.numeroSala'] : turma.numeroSala}" class="form-control #{ifError 'turma.numeroSala'} is-invalid#{/ifError}">
															#{ifError 'turma.numeroSala'}
													        	   <div class="invalid-feedback">#{error 'turma.numeroSala' /}</div>  	   		 
													        	   #{/ifError}
															
															</div>
														</div>
														
														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">Turno</label>
																	<select class="form-control" name="turma.turno" >
																		<option value>---Selecione o Turno---</option>
																		#{if turma?.turno == 'Matutino'}
																		<option value="Matutino" ${'selected'}>Matutino</option>
																		<option value="Vespetino">Vespetino</option>
																		<option value="Noturno">Noturno</option>
																		#{/if}
																		#{elseif turma?.turno == 'Vespetino'}
																		<option value="Matutino">Matutino</option>
																		<option value="Vespetino" ${'selected'}>Vespetino</option>
																		<option value="Noturno">Noturno</option>
																		#{/elseif}
																		#{elseif turma?.turno == 'Noturno'}
																		<option value="Matutino">Matutino</option>
																		<option value="Vespetino">Vespetino</option>
																		<option value="Noturno" ${'selected'}>Noturno</option>
																		#{/elseif}
																		#{else}
																		<option value="Matutino">Matutino</option>
																		<option value="Vespetino">Vespetino</option>
																		<option value="Noturno">Noturno</option>
																		#{/else}
																	</select>
																#{ifError 'turma.turno'}
													        	   <div class="invalid-feedback">#{error 'turma.turno' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
													</div>
													<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
													<button type="reset" class="btn btn-primary pull-right">Limpar
														Campos</button>
													<div class="clearfix"></div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

