<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="keywords" content="sistema de gestão, escolar, educação" />
<meta name="description" content="Sistema de Gestão Escolar" />
<title>SGE - Sistema de Gestão Escolar</title>
<link rel="icon" href="pictures/favicon-sge.png" />
<link href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
<link href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.css'}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/vendor/bootstrap/css/card-container.css'}" />
  <!-- Custom fonts for this template-->
  <link href="@{'/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.css'}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="@{'/public/bootstrap/css/sb-admin.css'}" rel="stylesheet">
<link rel="icon" href="@{'/public/images/favicon-sge.png'}" />
</head>

<body
	style="background-image: url('@{'/public/images/t.png'}'); background-size: cover; background-repeat: no-repeat;">
	<div class="container">
		<div class="card card-container">
			<form action="@{SGE.login}" method="post">
				<label>Usuário:</label><input type="text" id="text" class="form-control" placeholder="Usuário" required autofocus>
				<br />
				<button class="btn btn-lg btn-primary btn-block btn-signin"
				type="submit">Solicitar nova Senha</button>
			</form>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="text-center">
				<small>Sistema de Gestão Escolar - 2018 <p> Projeto Integrador I - IFRN</small>
			</div>
		</div>
	</footer>
</body>

</html>
        