#{extends 'main-secretaria.html' /} #{set title:'SGE - Realizar envio de Mensagem' /}
<meta charset="utf-8" />
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title ">Envio de E-mail</h4>
				
					</div>
					<div class="card-body">
												<form action="@{Contatos.enviar}" method="post" name="form1" >
													   
													   <div class="col-md-12">
															<div class="form-group" >
															   <label for="de">E-mail para:</label>
															   <input class="form-control #{ifError 'email.para'} is-invalid#{/ifError}" 
															   id="de" type="text" value="${flash['email.para']}" name="email.para">
															   #{ifError 'email.para'}
												        	   <div class="invalid-feedback">#{error 'email.para' /}</div>  	   		 
												        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
															   <label for="assunto">Assunto:</label>
															   <input class="form-control #{ifError 'email.assunto'} is-invalid#{/ifError}" 
															   id="assunto" type="text" value="${flash['email.assunto']}" name="email.assunto">
															   #{ifError 'email.assunto'}
												        	   <div class="invalid-feedback">#{error 'email.assunto' /}</div>  	   		 
												        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
															  <label for="mensagem">Mensagem:</label>
															  <textarea name="email.mensagem" class="form-control #{ifError 'email.mensagem'} is-invalid#{/ifError}" 
															  			rows="5" id="mensagem">${flash['email.mensagem']}</textarea>
															  #{ifError 'email.mensagem'}
												        	  <div class="invalid-feedback">#{error 'email.mensagem' /}</div>  	   		 
												        	  #{/ifError}
															</div>
														</div>	
														<input class="btn btn-primary" type="submit" value="Enviar">
														
													</form>
																
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>