#{extends 'Alunos/main_portal_aluno.html' /}
#{set title:'SGE - Alunos Matriculados' /}
<meta charset="utf-8" />

<!-- Mensagem de Sucesso -->
#{if flash.success}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<i class="material-icons">close</i>
	</button>
	<span> <b></b>${flash.success.raw()}
	</span>
</div>

#{/if}


<!-- Mensagem de erro -->

#{if flash.error}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<i class="material-icons">close</i>
	</button>
	<span> <b></b>${flash.error.raw()}
	</span>
</div>
#{/if}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title ">Boletim Escolar</h4>
				
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped" id="table">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>N Primeiro Bimestre</th>
										<th>N Segundo  Bimestre</th>
										<th>N Terceiro Bimestre</th>
										<th>N Quarto   Bimestre</th>
										<th>Prova Final</th>
										<th>Média</th>									
									</tr>
								</thead>
								<tbody>
								#{list items: alunos.disciplina, as:'disciplina'}
		                            <tr>
										 <td>${disciplina?.nomeDisciplina}</td>
										 #{list notas, as:'nota'}
											 #{if nota.disciplina.id == disciplina.id && nota.primeiroBimestre != 0}
												 <td id="notaPrimeiroB">${nota?.primeiroBimestre}</td>
											 #{/if}
											 #{elseif nota.disciplina.id == disciplina.id && nota.segundoBimestre != 0}
											 	<td id="notaSegundoB">${nota?.segundoBimestre}</td>
											 #{/elseif}
											 #{elseif nota.disciplina.id == disciplina.id && nota.terceiroBimestre != 0}
											 	<td id="notaTerceiroB">${nota?.terceiroBimestre}</td>
											 #{/elseif}
											 #{elseif nota.disciplina.id == disciplina.id && nota.quartoBimestre != 0}
												<td id="notaQuartoB">${nota?.quartoBimestre}</td>															 	
											 #{/elseif}
											 #{elseif nota.disciplina.id == disciplina.id && nota.provaFinal != 0}
												<td id="notaProvaFinal">${nota?.provaFinal}</td>															 	
											 #{/elseif}
										 #{/list}
										 <td id="media"></td>
									</tr>	
								#{/list} 			
		                        </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


