.icone-default{
	border-radius: 50%;
	margin-left: 35%;
	width: 75px;
}

.img-default{
	border-radius: 50%;
	width: 100px;
}

.status-info{
	background: #1edb46;
	padding: 0.5em;
	text-align: center;
	color: #000;
	border-bottom-right-radius: 200px;
	border-top-right-radius: 200px; 
} 