#{extends 'main-administradores.html' /}
<meta charset="utf-8" />
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Cadastro de Secretários</h4>
			</div>
			<div class="card-body">
				<div id="typography">
					<div class="row">
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<form name="form1" action="@{Secretarias.salvarSecretaria}" method="post" enctype="multipart/form-data">
													<div class="row">
													<div class="col-md-8">
															<div class="form-group">
																<input type="hidden" value="${secretaria?.id}"
																	name="secretaria.id"> <label
																	class="bmd-label-floating">Foto</label>
																	
															</div>
														</div>
													#{if secretaria?.foto?.exists()}
														<div class="col-md-12">
															<div class="form-group">
															   	<img height="150px" width="150px" src="@{Secretarias.fotoSecretaria(secretaria.id)}"><br>
															   	<div class="form-group">
														            <div class="form-check">
														              <label class="form-check-label">
														              	<input class="form-check-input" type="checkbox" name="excluirFoto">Excluir Imagem
														              </label>
														            </div>
														        </div>
												        	</div>
														</div>
												        
													   #{/if}
													   #{else}
													   <div class="col-md-12">
													  	 <input type="file" value="${secretaria?.foto}" name="secretaria.foto">
													   </div>
													   #{/else}
													  
													
														<div class="col-md-10">
															<div class="form-group">
																<input type="hidden" value="${secretaria?.id}"
																	name="secretaria.id"> <label
																	class="bmd-label-floating">Nome</label> <input
																	type="text" name="secretaria.nome"
																	value="${secretaria == null ? flash['secretaria.nome'] : secretaria.nome}" class="form-control #{ifError 'secretaria.nome'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.nome'}
													        	   <div class="invalid-feedback">#{error 'secretaria.nome' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Data de Nascimento</label> <input
																	type="date" name="secretaria.dataNascimento"
																	value="${secretaria == null ? flash['secretaria.dataNascimento'] : secretaria.dataNascimento}" class="form-control #{ifError 'secretaria.dataNascimento'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.dataNascimento'}
													        	   <div class="invalid-feedback">#{error 'secretaria.dataNascimento' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">CPF</label> <input
																	type="text" name="secretaria.cpf"
																	value="${secretaria == null ? flash['secretaria.cpf'] : secretaria.cpf}" class="form-control #{ifError 'secretaria.cpf'} is-invalid#{/ifError}" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" onkeydown="javascript: fMasc( this, mCPF )">
																	#{ifError 'secretaria.cpf'}
													        	   <div class="invalid-feedback">#{error 'secretaria.cpf' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">RG</label> <input
																	type="text" name="secretaria.rg"
																	value="${secretaria == null ? flash['secretaria.rg'] : secretaria.rg}" class="form-control #{ifError 'secretaria.rg'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.rg'}
													        	   <div class="invalid-feedback">#{error 'secretaria.rg' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Matricula</label> <input
																	type="text" name="secretaria.matricula"
																	value="${secretaria == null ? flash['secretaria.matricula'] : secretaria.matricula}" class="form-control #{ifError 'secretaria.matricula'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.matricula'}
													        	   <div class="invalid-feedback">#{error 'secretaria.matricula' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Senha</label> <input
																	type="password" name="secretaria.senha"
																	value="${secretaria == null ? flash['secretaria.senha'] : secretaria.senha}" class="form-control #{ifError 'secretaria.senha'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.senha'}
													        	   <div class="invalid-feedback">#{error 'secretaria.senha' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">Email</label> <input
																	type="email" name="secretaria.email"
																	value="${secretaria == null ? flash['secretaria.email'] : secretaria.email}" class="form-control #{ifError 'secretaria.email'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.email'}
													        	   <div class="invalid-feedback">#{error 'secretaria.email' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														
														
														
													
														
														
														<div class="col-md-10">
															<div class="form-group">
																<label class="bmd-label-floating">Rua</label> <input
																	type="text" name="secretaria.rua"
																	value="${secretaria == null ? flash['secretaria.rua'] : secretaria.dataNascimento}" class="form-control #{ifError 'secretaria.rua'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.rua'}
													        	   <div class="invalid-feedback">#{error 'secretaria.rua' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Número</label> <input
																	type="text" name="secretaria.numCasa"
																	value="${secretaria == null ? flash['secretaria.numCasa'] : secretaria.numCasa}" class="form-control #{ifError 'secretaria.numCasa'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.numCasa'}
													        	   <div class="invalid-feedback">#{error 'secretaria.numCasa' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Bairro</label> <input
																	type="text" name="secretaria.bairro"
																	value="${secretaria == null ? flash['secretaria.bairro'] : secretaria.bairro}" class="form-control #{ifError 'secretaria.bairro'} is-invalid#{/ifError}">
																	#{ifError 'secretaria.bairro'}
													        	   <div class="invalid-feedback">#{error 'secretaria.bairro' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Estado</label> <input
																	type="text" name="secretaria.estado"
																	value="${secretaria == null ? flash['secretaria.estado'] : secretaria.estado}" class="form-control #{ifError 'secretaria.estado'} is-invalid#{/ifError}" ${secretaria != null } id="estado1">
																	#{ifError 'secretaria.estado'}
													        	   <div class="invalid-feedback">#{error 'secretaria.estado' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Cidade</label> <input
																	type="text" name="secretaria.cidade"
																	value="${secretaria == null ? flash['secretaria.cidade'] : secretaria.cidade}" class="form-control #{ifError 'secretaria.cidade'} is-invalid#{/ifError}" ${secretaria != null } id="cidade1">
																	#{ifError 'secretaria.cidade'}
													        	   <div class="invalid-feedback">#{error 'secretaria.cidade' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">CEP</label> <input
																	type="text" name="secretaria.cep"
																	value="${secretaria == null ? flash['secretaria.cep'] : secretaria.cep}" class="form-control #{ifError 'secretaria.cep'} is-invalid#{/ifError}" pattern="\d{2}\.\d{3}-\d{3}" onkeydown="javascript: fMasc( this, mCEP )">
																	#{ifError 'secretaria.cep'}
													        	   <div class="invalid-feedback">#{error 'secretaria.cep' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
													</div>


													<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
													<button type="reset" class="btn btn-primary pull-right">Limpar
														Campos</button>
													<div class="clearfix"></div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>